ion-toolbar{
    background-color: var(--ion-color-mis_colores);
  }
  .btn{
    background-color: #553a7e;
    color:white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 15px;
  
  
  }
  
  #container{
    padding: 2%;
    text-align: center;
  }

  #container button{
    margin-left: 3%;
    margin-right: 3%;
  }

  #map{
    height: 90%;
    width: 100%;
  }

  .map-container{
    margin:0 auto;
  }

  .no_logueado{
    font-size: 25px;
    padding:5%;
    width: 100%;
    text-align: center;
  }

  map-info-window{
    color:black;
  }