<ion-header [translucent]="true">

  <ion-toolbar color="mis_colores">
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div id="container">
  <button [routerLink]="['/home']" class="btn">Hospitales</button>
  </div>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="ruta-a-tu-imagen1.jpg"></ion-img>
        </ion-avatar>
        <ion-label>Elemento 1</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-content>
