<ion-header [translucent]="true">

  <ion-toolbar color="mis_colores">
  <ion-title>Hospitales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div id="container">
  <button [routerLink]="['/favorites']" class="btn">Favoritos</button>
  </div>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let Hospital of hospitales">
        <ion-avatar slot="start">
          <ion-img [src]= "Hospital.imagen" ></ion-img>
        </ion-avatar>
        <ion-label>{{Hospital.name}}</ion-label>
        <ion-button (click)="informacion(Hospital.informacion,Hospital.name)" slot="end" fill="clear">Informacion</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
