<ion-header [translucent]="true">

  <ion-toolbar color="mis_colores">
  <ion-title>Hospitales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">




  <ion-content>
    <ion-list>
      <ion-item *ngFor="let Hospital of hospitales">
        <ion-avatar slot="start">
          <ion-img [src]= "Hospital.imagen" ></ion-img>
        </ion-avatar>
        <ion-label>{{Hospital.name}}</ion-label>
        <ion-button (click)="informacion(Hospital.informacion,Hospital.name)" slot="end" fill="clear">Informacion</ion-button>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-toolbar color = "mis_colores">
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/favorites']" class="btn">Favoritos</ion-button>
            <ion-button [routerLink]="['/mapa']" class="btn">mapa</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-content>

</ion-content>
