ion-toolbar{
    background-color: var(--ion-color-mis_colores);
  }
  .btn{
    background-color: #553a7e;
    color:white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 15px;
  
  
  }
  
  #container{
    text-align: center;
    position: absolute;
    right: 20px;
    top:90%;
    transform: translate(-90%);
  }